/* Universal */

*
{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

/* Slider */

.swiper-container
{

    width: 100%;
    height: 100vh;
    
}

.swiper-slide img
{
    
    width: 100%;
    height: 100%;

}

.swiper-slide h1
{

    margin-top: 100px;

}

/* Content over the slider */

._content_Container
{

    width: 100%;
    height: 100%;
    padding: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    text-align: center;
    color: white;

}

._overlay
{
    
    background-color: rgba(0, 0, 0, 0.712);

}

._content_Container h1
{

    position: relative;
    top: 30%;
    cursor: default;
    font-family: "Roboto";
    font-size: 3rem;

}

._content_Container h4
{

    position: relative;
    top: 35%;
    cursor: default;
    font-family: "Montserrat";
    font-size: 1rem;


}

._content_Container h1 q
{

    quotes: '\275D' '\275E';

}

/* Nav bar */

nav
{

    position: fixed;
    box-sizing: border-box;
    padding: 0% 3%;
    top: 0px;
    z-index: 2;
    display: block;
    width: 100%;
    height: 60px;
    user-select: none;
    transition: 0.100s all ease-in-out;
    background-color: rgb(255, 255, 255);
    color: black;

}

nav div
{

    position: absolute;
    left: 50px;
    padding: 0.5% 1% 1% 1%;
    height: 60px;
    width: 350px;
    letter-spacing: 2px;
    font-size: 25px;
    color: rgb(46, 43, 46);
    font-family: 'Roboto';

}

nav ul li
{

    position: relative;
    display: inline-block;
    margin-left: 10px;
    left: 66%;
    height: 60px;
    box-sizing: border-box;
    padding: 1.4% 1% 1% 1%;
    font-family: "Montserrat";
    font-size: 1.3rem;
    user-select: text;

}

nav ul li:hover
{

    background: linear-gradient(210deg,rgb(212, 7, 92), rgb(251, 255, 2));
    color: black;

}

nav ul li a
{

    text-decoration: none;
    color: black;

}

/* Play */

/* Developer */

#_play
{

    position: relative;
    width: 100%;
    height: 100vh;
    padding: 4%;
    background:  linear-gradient(170deg, rgba(58, 1, 24, 0.89), rgb(0, 0, 0)), url(/Assets/_Images/_background_Image_For_Play_Sections.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

._guide
{

    width: 685px;
    height: 82vh;
    transition: 0.100s ease-in-out all;
    padding: 2%;
    border-radius: 10px;
    overflow: hidden auto;
    font-family: 'Montserrat';
    line-height: 2rem;
    letter-spacing: 1px;
    color: rgb(0, 255, 179);

}

#_play ._guide ul li
{

    list-style-type: '✅';

}

._guide::-webkit-scrollbar 
{

    
    width: 5px;

}

._guide::-webkit-scrollbar-track 
{

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #f3e1a4;

}


._guide::-webkit-scrollbar-thumb 
{

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(77, 73, 73, 0.603);

}

._guide:hover::-webkit-scrollbar-thumb 
{

    background: rgba(77, 73, 73, 0.89);

}


._guide::-webkit-scrollbar-thumb:hover 
{

    background: #555;

}

._name_And_Play
{

    position: absolute;
    left: 751px;
    top: 54px;
    width: 551px;
    height: 82vh;
    background-color: rgb(255, 0, 0);
}   


/* Developer */

#_developer
{

    width: 100%;
    height: 100vh;
    background-color: darkcyan;

}