/* Universal */

*
{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;

}

/* Background */

._background_Container
{

    width: 100%;
    height: 100vh;

}

._sky
{
    
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(/Assets/_Images/_sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

._sky img
{
    
    position: absolute;
    width: 300px;
    height: 150px;
    top: 30px;
    right: -300px;
    opacity: 0.8;
    animation: _cloud_Animation 15s linear infinite;
    user-select: none;

}

._sky :nth-child(2)
{
    
    top: 50px;
    animation-delay: 10s;

}

@keyframes _cloud_Animation
{

    from
    {

        right: -300px;

    }
    to
    {

        right: 1366px;

    }

}

._mountain_Images
{

    position: absolute;
    bottom: 0px;
    overflow: hidden;
    height: 200px;
    width: 100%;
    user-select: none;

}

._mountain_Images img
{

    /* background-color: rgba(31, 3, 3, 0.438); */
    width: 100%;
    right: 1px;
    position: absolute;
    bottom: 0px;

}

._mountain_Images img:nth-child(2)
{

    left: 1366px;
    /* background-color: rgba(255, 255, 255, 0.411); */

}

._rain
{

    position: absolute;
    /* background: linear-gradient(180deg, rgb(0, 21, 27), rgba(0, 0, 255, 0)); */
    transition: all 20s linear;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    
}

._rain img
{
    
    width: 100%;
    height: 100%;
    opacity: 0.4;
    animation: _rain_Animation 0.2s linear infinite;
    user-select: none;

}

@keyframes _rain_Animation
{

    from
    {

        margin-top: -200px;
        margin-left: 0;

    }
    to
    {

        margin-left: -100px;
        margin-top: 0px;

    }

}

._darkness
{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: url(/Assets/_Images/_darkness.png);

}

/* Pipe */

._pipe_Container
{

    position: absolute;
    user-select: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(175, 13, 13, 0.425); */

}

._top_Pipe_Container
{

    width: 100%;
    height: 250px;
    top: 0px;
    /* background-color: rgb(51, 8, 92); */

}

._down_Pipe_Container
{

    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0px;
    /* background-color: rgb(51, 8, 92); */

}

._down_Pipe_Container img
{

    position: absolute;
    width: 110px;
    bottom: 0px;
    
}

._top_Pipe_Container img
{

    position: absolute;
    transform: rotate(-180deg);
    width: 110px;
    top: 0px;
    
}

/* Aeroplane */

._aeroplane_And_Front_Fan_Of_Aeroplane_Container
{

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    user-select: none;

}

._aeroplane_And_Front_Fan_Of_Aeroplane_Container ._combined_Aeroplane
{

    position: relative;
    top: 251px;
    left: 10px;
    width: 180px;
    height: 105px;

}

._aeroplane_And_Front_Fan_Of_Aeroplane_Container ._combined_Aeroplane img
{

    position: absolute;

}

._front_Fan
{

    animation: _front_Fan 0.100s linear infinite;

}

@keyframes _front_Fan
{

    from
    {

        transform: rotateX(100deg);

    }
    to
    {

        transform: rotateX(-100deg);

    }

}

._aeroplane_And_Front_Fan_Of_Aeroplane_Container #_opposite_Aeroplane
{

    position: absolute;
    top: 250px;
    left: 1380px;
}

/* Collision */

._fire_Container
{

    width: 100%;
    height: 100%;
    visibility: hidden;

}

._fire_Container img
{

    width: 180px;
    height: 105px;
    transition: 2s linear all;

}

._fire_Container :nth-child(1)
{

    animation: _fire_Left_Right_Movement 0.2s linear infinite;

}

@keyframes _fire_Left_Right_Movement
{

    _fire_Left_Right_Movement
    {

        margin-left: 5px;

    }
    to
    {

        margin-left: -5px;

    }

}

._collision_Animation
{

    animation: _collision_Animation_ 8s ease-out;

}

@keyframes _collision_Animation_
{

    to
    {

        top: 1360px;
        transform: rotate(180deg);

    }

}

._collision_Text
{

    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 10%;
    padding-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: linear-gradient(250deg, rgba(0, 0, 0, 0.445), rgba(201, 2, 95, 0.774), rgb(1, 28, 70));
    width: 100%;
    height: 100%;
    font-size: larger;
    transition: 0.100s all ease-in; 
    z-index: 5;

}

._collision_Text h2
{

    position: relative;
    top: 10px;
    
}

._collision_Text :nth-child(3)
{

    position: relative;
    top: 20px;
    
}

._collision_Text span
{

    color: rgb(136, 224, 224);
    font-size: 2.2rem;
    
}

._collision_Text button
{

    position: relative;
    top: 33px;
    left: 0px;
    width: 141px;
    height: 48px;

}

._button
{
    border: 2px solid rgb(0, 0, 0);
    outline: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.100s ease-in;
}

._button:hover
{

    background-color: rgb(0, 0, 0);
    border-color: white;
    color: rgb(222, 224, 136);
    box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.137);

}

._collision_Text a
{

    position: absolute;
    left: 30%;
    top: 95%;
    color: white;
    font-size: 1rem;

}